/* declaraciones-variables.component.css */

/* Estilos para los contenedores */
.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para los botones */
button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para los mensajes de validación */
p {
  font-weight: bold;
}

/* Estilos para la lista de variables */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}
/* declaraciones-variables.component.css */

/* Estilos para los contenedores */
.container {
  margin: 20px auto; /* Centra el contenedor horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%; /* Ancho del contenedor */
  max-width: 600px; /* Máximo ancho del contenedor */
  text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilos para los botones */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px; /* Espacio superior para separar los botones */
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  text-align: left; /* Alinea las etiquetas a la izquierda */
}

/* Estilos para los mensajes de validación */
p {
  font-weight: bold;
}

/* Estilos para la lista de variables */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left; /* Alinea la lista de variables a la izquierda */
}

li {
  margin-bottom: 5px;
}

/* Estilos para los textarea */
textarea {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 5px;
  margin-bottom: 10px; /* Espacio inferior para separar los textarea */
}

/* Estilos para el select */
select {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 5px;
  margin-bottom: 10px; /* Espacio inferior para separar el select */
}

/* Estilos para los errores */
.error {
  color: red;
}
